.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-size: 15px;
  font-family: "Outfit", serif;
  font-weight: 400;
  font-variation-settings: "wght" 700;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  color: hsl(220, 15%, 55%);
}

h1 {
  color: hsl(218, 44%, 22%);
}

.white-border {
  background-color: hsl(0, 0%, 100%);
  border: 8px solid white;
  border-radius: 8px 8px;
}

.center-screen {
  padding-top: 10%;
  margin: 0 auto;
}

/**
    Phones 
    */
@media only screen and (min-width: 375px) {
  img {
    height: max(300px, 30vh);
    width: max(200px, 15vw);
  }

  .center-screen {
    height: max(450px, 45vw);
    width: max(250px, 35vw);
  }
}

/**
    Desktops
    */
@media only screen and (min-width: 1440px) {
  img {
    height: max(250px, 30vh);
    width: max(150px, 15vw);
  }

  .center-screen {
    height: 45vh;
    width: 17vw;
  }
}
